

@{
    ViewData["Title"] = "ایجاد بنر";
}

<h2>ایجاد بنر</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBanner" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.BPID" name="Bpid" />
            <div class="form-group">
                <input type="file" name="img" required />
            </div>
            <div class="form-group">
                <label>آدرس </label>
                <input name="Url" class="form-control" />
               
            </div>

            <div class="form-group">
                <input type="submit" value="ایجاد بنر" class="btn btn-azure" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Banner" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
