@model MarcketDataLayer.DTOs.Contacts.AnswerTicketDTO


<form method="post" asp-area="Admin" asp-controller="Ticket" asp-action="Create">
    <input type="hidden" asp-for="Id" />
    <textarea asp-for="Text" ckeditor="6" ></textarea>
    <button type="submit" class="btn btn-info">
        ارسال پاسخ
    </button>
</form>