
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> فروشگاه ساز | @ViewData["Title"] </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_HeaderReferences" />
    @RenderSection("styles", false)
</head>

<body>



    @await Component.InvokeAsync("SiteHeader")
    @*<li><a asp-controller="Account" asp-action="LogOut"> خروج </a></li>*@


    @RenderBody()
    @await Component.InvokeAsync("SiteFooter")


    <partial name="_FooterReferences" />
    <partial name="_SiteMessages" />

    @RenderSection("scripts", false)

</body>

</html>
